<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

    {% block header %}
        {% include 'components/nav.html' %}
    {% endblock header %}

    {% block content %}
     {% include 'components/content.html' %}
     {% include 'components/contact.html' %}
    {% endblock content %}

    {% block footer %}
        {% include 'components/footer.html' %} 
    {% endblock footer %}


</body>

</html>