{% extends 'index.html' %}

{% block content %}
  <div class="container mx-auto my-8">
    <h2 class="text-2xl font-bold mb-4">Actualizar Reservación</h2>

    <form method="post" action="{% url 'reservations:update' object.pk %}" class="max-w-md mx-auto">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Guardar Cambios</button>
    </form>
  </div>
{% endblock %}
